

<div style="margin: 50px">


  <table>

    <tr>
      <th>DATE</th>
      <th>Employee</th>
      <th>Project</th>

    </tr>

  </table>

  <input type="checkbox" [checked]="accepted" (change)="accepted = !accepted">

 <div>

   Select Work Sheet

 </div>

</div>

<div class="row">

  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar [value]="55"></progressbar>
    </div>
  </div>

  <button

    style="margin-top: 50px;margin-left: 50px"
    type="button" mat-button
    [ngxFilePicker]="readMode"  (readStart)="onReadStart($event)"
    (filePick)="onFilePicked($event)"
    (readEnd)="onReadEnd($event)"> Upload </button>

</div>
