

<div style="margin: 50px">


  <!--<table>-->

    <!--<tr>-->
      <!--<th>DATE</th>-->
      <!--<th>Employee</th>-->
      <!--<th>Project</th>-->

    <!--</tr>-->

  <!--</table>-->

  <input type="checkbox" [checked]="accepted" (change)="accepted = !accepted">

 <div>

   Select Work Sheet

 </div>

</div>

<div class="row">

  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar [value]="55"></progressbar>
    </div>
  </div>

  <button

    style="margin-top: 50px;margin-left: 50px"
    type="button" mat-button
    [ngxFilePicker]="readMode"  (readStart)="onReadStart($event)"
    (filePick)="onFilePicked($event)"
    (readEnd)="onReadEnd($event)"> Upload </button>

</div>

<div>

  <ul class="container">

    <li class="row" *ngFor="let data of displayData;let i = index">

      <div *ngIf="data.isValid" style="border: 2px dotted green;margin-top: 25px">

        <span style="margin-right: 150px;" class="col-md-6"> {{ data.project.name }} </span>

        <span class="col-md-6"> {{ data.employee.name}} </span>

      </div>

      <div *ngIf="!data.isValid" style="border: 2px dotted red;margin-top: 25px">

        <span *ngIf="data.project.isValid" style="margin-right: 150px;" class="col-md-6"> {{ data.project.name }} </span>

        <span *ngIf="!data.project.isValid" style="margin-right: 150px;background-color: red" class="col-md-6"> {{ data.project.name }} </span>


        <span *ngIf="data.employee.isValid" class="col-md-6"> {{ data.employee.name}} </span>

        <span *ngIf="!data.employee.isValid" style="background-color: red" class="col-md-6"> {{ data.employee.name}} </span>

      </div>



    </li>
  </ul>
</div>
